{% extends 'base.html' %}
{% block content %}
<div style="margin-top:30px;"> {% for author in author_list %}
    <div class="list-group" style="margin-bottom:20px;">

  <a href="{{ author.get_absolute_url }}" class="list-group-item list-group-item-action" style="margin-bottom:20px;">
   {{author.last_name}} &nbsp;{{ author.first_name }}
  </a>

</div>
{% endfor %}

    {% if request.user.is_superuser %}
        <a href="{% url 'author_create' %}">
            <input type="reset" value="Create New Author">
        </a>
        {%endif%}
</div>
{% endblock %}
